<div class="navbar">
   
   <%= link_to root_path do %>
   <%= image_tag "Logo.png", class: "logo-nav" %>
    <% end %>

    <ul class="navlist">
        <li class="element"><%= link_to "Dashboard", events_index_path %></li>
        <li class="element"><%= link_to "My Events", events_index_path %></li>
        <li class="element"><%= link_to "Player Connect", events_index_path %></li>
        <li class="element"><%= link_to "Marketplace", events_index_path %></li>
        <li class="element-mid"><%= link_to "Contact", events_index_path %></li>
        <li class="element-lower"><%= link_to "Settings", events_index_path  %></li>
    </ul>
</div>