<div class="navbar">
   
   <%= link_to root_path do %>
   <%= image_tag "Logo.png", class: "logo-nav" %>
    <% end %>

    <ul class="navlist">
        <li class="element"><%= link_to "Dashboard", current_user %></li>
        <li class="element"><%= link_to "My Events", current_user %></li>
        <li class="element"><%= link_to "Player Connect", current_user %></li>
        <li class="element"><%= link_to "Marketplace", current_user %></li>
        <li class="element-mid"><%= link_to "Contact", current_user %></li>
        <li class="element-lower"><%= link_to "Settings", current_user %></li>
    </ul>
</div>