<div class="profile-list">
  <h2>Friends</h2>
 <%# 1st %>
  <div class="friend-card">
    <div class="friend-content">
      <div class="friend-info">
        <%= image_tag "inline-p-4-zmm-3-il-wr-1-ta-2-fe-9-1280@2x.png", class: "friend-logo" %>
        <div class="friend-location">
          <h3>Zetryte</h3>
          <p>Berlin, Germany</p>
        </div>
      </div>
      
      <div class="friend-level">
        <h3>8</h3>
        <p>Level</p>
      </div>

      <div class="friend-links">
        <%= image_tag "facebook@2x.png", class: "linked-logo" %>
        <%= image_tag "instagram@2x.png", class: "linked-logo" %>
        <%= image_tag "steam@2x.png", class: "linked-logo" %>
        <%= image_tag "twitch@2x.png", class: "linked-logo" %>
      </div>

    </div>
  </div>
   <%# 2nd %>

  <div class="friend-card">
    <div class="friend-content">
      <div class="friend-info">
        <%= image_tag "1920-x-1080-4506211-anime-anime-girls-final-fantasy-xiv-a-realm-reborn@2x.png", class: "friend-logo" %>
        <div class="friend-location">
          <h3>Seba</h3>
          <p>Berlin, Germany</p>
        </div>
      </div>
      
      <div class="friend-level">
        <h3>9</h3>
        <p>Level</p>
      </div>

      <div class="friend-links">
        <%= image_tag "facebook@2x.png", class: "linked-logo" %>
        <%= image_tag "instagram@2x.png", class: "linked-logo" %>
        <%= image_tag "steam@2x.png", class: "linked-logo" %>
        <%= image_tag "twitch@2x.png", class: "linked-logo" %>
      </div>

    </div>
  </div>
   <%# 3rd %>

  <div class="friend-card">
    <div class="friend-content">
      <div class="friend-info">
        <%= image_tag "5-fo-lig@2x.png", class: "friend-logo" %>
        <div class="friend-location">
          <h3>Alex</h3>
          <p>Berlin, Germany</p>
        </div>
      </div>
      
      <div class="friend-level">
        <h3>94</h3>
        <p>Level</p>
      </div>

      <div class="friend-links">
        <%= image_tag "facebook@2x.png", class: "linked-logo" %>
        <%= image_tag "instagram@2x.png", class: "linked-logo" %>
        <%= image_tag "steam@2x.png", class: "linked-logo" %>
        <%= image_tag "twitch@2x.png", class: "linked-logo" %>
      </div>

    </div>
  </div>
   <%# 4th %>

  <div class="friend-card">
    <div class="friend-content">
      <div class="friend-info">
        <%= image_tag "ahegao-eyes-leggings@2x.png", class: "friend-logo" %>
        <div class="friend-location">
          <h3>Till</h3>
          <p>Berlin, Germany</p>
        </div>
      </div>
      
      <div class="friend-level">
        <h3>69</h3>
        <p>Level</p>
      </div>

      <div class="friend-links">
        <%= image_tag "facebook@2x.png", class: "linked-logo" %>
        <%= image_tag "instagram@2x.png", class: "linked-logo" %>
        <%= image_tag "steam@2x.png", class: "linked-logo" %>
        <%= image_tag "twitch@2x.png", class: "linked-logo" %>
      </div>

    </div>
  </div>
   
</div>